<a href="https://colab.research.google.com/github/AlexandreFreitas64/Atividades-em-Python/blob/main/Atividade_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1 — Ordenação e Busca

 Leia 5 números inteiros e mostre-os em ordem crescente.

In [ ]:
lista = []
for i in range(5):
  num = int(input(f"Digite o {i+1}° número: "))
  lista.append(num)
lista.sort()
print(lista)

Digite o 1° número: 4
Digite o 2° número: 5
Digite o 3° número: 8
Digite o 4° número: 7
Digite o 5° número: 2
[2, 4, 5, 7, 8]

Leia 10 números e mostre-os em ordem decrescente

In [ ]:
lista = []
for i in range(10):
  num = int(input(f"Digite o {i+1}° número: "))
  lista.append(num)
lista.sort(reverse=True)
print(lista)

Digite o 1° número: 4
Digite o 2° número: 65
Digite o 3° número: 8
Digite o 4° número: 7
Digite o 5° número: 9
Digite o 6° número: 45
Digite o 7° número: 5
Digite o 8° número: 45
Digite o 9° número: 4
Digite o 10° número: 4
[65, 45, 45, 9, 8, 7, 5, 4, 4, 4]

  Crie um dicionário com nomes de alunos e suas notas e mostre-os em ordem alfabética.

In [ ]:
alunos_notas = {}

for i in range(3):
  aluno = input(f"Digite o nome do {i+1}° aluno: ")
  # aluno = aluno.capitalize()
  nota = float(input(f"Digite a nota do {i+1}° aluno: "))
  alunos_notas[aluno] = nota

print("\n--- Alunos em Ordem Alfabética ---")

for aluno in sorted(alunos_notas, key=str.lower):
  print(f"Aluno: {aluno}, Nota: {alunos_notas[aluno]:.1f}")

Digite o nome do 1° aluno: Duda
Digite a nota do 1° aluno: 4
Digite o nome do 2° aluno: Alex
Digite a nota do 2° aluno: 8
Digite o nome do 3° aluno: bia
Digite a nota do 3° aluno: 89

--- Alunos em Ordem Alfabética ---
Aluno: Alex, Nota: 8.0
Aluno: bia, Nota: 89.0
Aluno: Duda, Nota: 4.0

No mesmo dicionário, mostre os alunos em ordem decrescente de nota.

In [ ]:
alunos_notas = {}

for i in range(3):
  aluno = input(f"Digite o nome do {i+1}° aluno: ")
  # aluno = aluno.capitalize()
  nota = float(input(f"Digite a nota do {i+1}° aluno: "))
  alunos_notas[aluno] = nota

print("\n--- Alunos em Ordem Alfabética ---")

for aluno in sorted(alunos_notas, key=str.lower, reverse=True):
  print(f"Aluno: {aluno}, Nota: {alunos_notas[aluno]:.1f}")

Digite o nome do 1° aluno: Alex
Digite a nota do 1° aluno: 78
Digite o nome do 2° aluno: Duda
Digite a nota do 2° aluno: 48
Digite o nome do 3° aluno: Bia
Digite a nota do 3° aluno: 78

--- Alunos em Ordem Alfabética ---
Aluno: Duda, Nota: 48.0
Aluno: Bia, Nota: 78.0
Aluno: Alex, Nota: 78.0

 Dada uma lista de números, leia um valor X e diga se X existe ou não dentro da lista.

In [ ]:
from genericpath import exists
import random

lista=[]

sizeList = random.randint(1,10)

for i in range(sizeList):
  lista.append(random.randint(0,100))

print(f"Lista com {sizeList} elementos \nLista: {lista} ")

numero = int(input("Digite um número: "))

if numero in lista:
  print(f"O número {numero} existe!")
else:
  print(f"O número {numero} Não existe!")

Lista com 4 elementos
Lista: [32, 97, 38, 7]
Digite um número: 47
O número 47 Não existe!

# Parte 2 — Uso de Listas e Filas (deque)

 Simule uma fila de atendimento:
 - Adicione 3 pessoas à fila.
 - Atenda a primeira pessoa (remova com popleft()).
 - Mostre a fila restante.

In [ ]:
import random
from faker import Faker
from collections import deque

fake_br = Faker('pt_BR')


lista=[]

for i in range(3):
  nome = fake_br.first_name()
  lista.append(nome)
  print(lista)

lista = deque(lista)

for i in range(len(lista)):
  print(lista)
  lista.popleft()

['Ana Lívia']
['Ana Lívia', 'Bárbara']
['Ana Lívia', 'Bárbara', 'Thiago']
deque(['Ana Lívia', 'Bárbara', 'Thiago'])
deque(['Bárbara', 'Thiago'])
deque(['Thiago'])

Simule uma pilha de livros:
 - Adicione 3 livros à pilha.
 - Retire o último livro adicionado (com pop()).
 - Mostre os livros restantes na pilha.

In [ ]:
import random
from faker import Faker

fake_br = Faker('pt_BR')


lista=[]

for i in range(3):
  nome = fake_br.sentence()
  lista.append(nome)
  print(lista)

print("-----------------")

for i in range(1):
  print(lista)
  lista.pop()
print(lista)

['Necessitatibus quibusdam harum dolores.']
['Necessitatibus quibusdam harum dolores.', 'Quasi recusandae dolorem molestiae.']
['Necessitatibus quibusdam harum dolores.', 'Quasi recusandae dolorem molestiae.', 'Ipsam corrupti tempora.']
-----------------
['Necessitatibus quibusdam harum dolores.', 'Quasi recusandae dolorem molestiae.', 'Ipsam corrupti tempora.']
['Necessitatibus quibusdam harum dolores.', 'Quasi recusandae dolorem molestiae.']

Crie uma fila de banco com 5 clientes e faça o atendimento de todos, mostrando a ordem
em que foram atendidos

In [ ]:
from faker import Faker
import random
from collections import deque

fake_br = Faker('pt_BR')

fila = []

for i in range(5):
  nome = fake_br.first_name()
  fila.append(nome)
  print(fila)

fila = deque(fila)

for i in range(len(fila)):
  fila.popleft()

['Marina']
['Marina', 'João Lucas']
['Marina', 'João Lucas', 'Leandro']
['Marina', 'João Lucas', 'Leandro', 'Maysa']
['Marina', 'João Lucas', 'Leandro', 'Maysa', 'Josué']

# Parte 3 — Conversão de Tipos e Entrada/Saída

. Leia dois números em uma mesma linha e mostre a soma deles. (Use map(int,
input().split())).

In [ ]:
num1, num2 = map(int, input("Digite dois Numeros ('2 3')").split())

print(f"A soma dos dois números é: {num1+num2}")

Digite dois Numeros ('2 3')2 3
A soma dos dois números é: 5

. Leia uma string com vários números separados por espaço e transforme em uma lista de
inteiros.

In [ ]:
numeros = list(map(int, input("Digite numeros ex.:(2 3 4 5 ...): ").split()))
print(f"-----------------\nA lista de numeros é: {numeros}")

Digite numeros ex.:(2 3 4 5 ...): 4 8 7 9 4 5 8 7
-----------------
A lista de numeros é: [4, 8, 7, 9, 4, 5, 8, 7]

. Leia uma lista de números e mostre apenas os números únicos (sem repetição), usando
set()

In [ ]:
In = input("Digite uma sequencia de numeros: ")
numeros = [int(n) for n in In.split()]
print(numeros)

numerosUnicos = set(numeros)
print(numerosUnicos)

listaNumeros = list(numerosUnicos)
print(listaNumeros)

Digite uma sequencia de numeros: 5 6 8 7 8 8 7 5 4
[5, 6, 8, 7, 8, 8, 7, 5, 4]
{4, 5, 6, 7, 8}
[4, 5, 6, 7, 8]

. Leia um número decimal e mostre-o convertido para inteiro e também para string.

In [ ]:
dec = float(input("Digite um numero decimal: "))

print(f" {int(dec)} \n'{str(dec)}'")

Digite um numero decimal: 4.5
 4
'4.5'